[FETCH_SCORE]
url="https://cricbuzz-cricket.p.rapidapi.com"
api_key=SECRET OF YOUR RAPID API ACCOUND
api_host="cricbuzz-cricket.p.rapidapi.com"
[VERTEX_AI]
type="service_account"
project_id=// your vertex ai project id
private_key_id= private key id for your account
private_key= private key
client_email= client email for your project
client_id= client id for your project
auth_uri= "https://accounts.google.com/o/oauth2/auth"
token_uri= "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url= "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url= client cert url of your account
universe_domain= "googleapis.com"
location="us-central1"